<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,600&display=swap" rel="stylesheet">

<div class='navbar navbar-expand-lg navbar-light bg-light'>
    <a href="/home" style='text-decoration: none;'>
        <div class='social-btn flex-center' id="twitter">
            <i class="fas fa-home"></i><span>Home</span>
        </div>
    </a>
    </a> <a href="/company" style='text-decoration: none;'>
        <div class='social-btn flex-center' id="github">
            <i class="fas fa-user"></i><span>Company</span>
        </div>
    </a> <a href="/about" style='text-decoration: none;'>
        <div class='social-btn flex-center' id="github">
            <i class="fas fa-info"></i><span>About Us</span>
        </div>
    </a>
    </a>

</div>